#session-services {
  display: block;
  text-align: center;
  height: auto;
  width: 100%;
  padding: 100px 10%;
  padding-bottom: 60px;

  /*background: var(--background_color_principal);*/


  /*color: white;*/

}
@media (max-width: 720px) {
  #session-services {
    padding: 40px 10%;
  }
}
.grid-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.service-box {
  width: 300px;
  display: flex;
  flex-direction: column;
  height: 250px;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 40px;

  background-color: rgba(200, 200, 200, 0.09);
  border-radius: 10px;
}
.service-box span {
  padding: 10px;
}
.service-box h3 {
  font-size: 17px;
    font-family: "josefin sans";
}
.service-box p{
  font-size: 15px;
}
