#hero {
  height: 100vh;
  max-height: 700px;

  background-image: linear-gradient(var(--overlay), var(--overlay) 100%),
    url("./../../assets/img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero_contents{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.texts{
  text-align: center;
  padding: 20px;
}
 .texts h1 {
  font-size: 60px;
  font-weight: bold;
  color: whitesmoke;
}
 .texts span {
  font-size: 60px;
  font-weight: bold;
  color: var(--colorCeleste);
}
  .texts p {
  font-size: 18px;
  color: #f5f5f5;
}
