#session-about {
  position: relative;
  height: 100vh;
  padding: 100px 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.cv-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

@media (min-width: 900px) {
  #session-about {
    max-height: 700px;
  }
}
@media (max-width: 900px) {
  #session-about {
    flex-direction: column;
    height: auto;
    padding: 40px 10%;
  }
  .cv-container {
    justify-content: center;
  }
}
.about-img {
  display: flex;
  align-items: center;
}

.about-img div {
  height: 300px;
  width: 300px;
  margin: auto;
}
@media (max-width: 500px) {
  .about-img div {
    height: 280px;
    width: 280px;
    margin: auto;
  }
}
#who {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  padding-bottom: 20px;
}
.about-description {
  display: flex;
  align-items: center;
  width: 550px;
  max-width: 90%;
}
.about-description p {
  display: block;
  padding: 5px 0px;
}
.about-img div img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-size: cover;
  object-fit: cover;
  object-position: center center;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.btn {
  margin-top: auto;
}
/* style cv */
.btn-cv {
  /*display: block	;*/
  margin-right: 10px;
  text-decoration: none;
  padding: 15px;
  height: 120;
}
.btn-cv-es {
  border: 2px solid var(--background_color_principal);
  color: var(--background_color_principal);
}
.btn-cv-en {
  border: 4px solid var(--background_color_principal);
  background: var(--background_color_principal);
  color: white;
}
/*.btn-cv-es:hover {
	background: var(--background_color_principal);
	color: white;
}

.btn-cv-en:hover{
border: 2px solid var(--background_color_principal);
	color: var(--background_color_principal);
}*/
/*  */
@media (max-width: 900px) {
  .about-description {
    text-align: center;
  }
  .btn {
    text-align: center;
  }
}
