.header {
  position: fixed;
  display: flex;
  background: transparent;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 80px;
  width: 100%;
  z-index: 12000;
  transition: 0.6s;

  color: white;
  max-width: 2000px;
}

.sticky {
  background: var(--background_color_principal);
  box-shadow: 1px 2px 2px 2px rgba(1, 1, 1, 0.1);
}
@media (max-width: 500px) {
  .header {
    display: none;
    visibility: hidden;
  }
}
#menu {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 15px;
}
#menu a {
  text-decoration: none;
  color: white;

  padding: 10px 20px;
  border-radius: 28px;
  font-family: "Josefin Sans", sans-serif;
  /*font-family: "Barlow", sans-serif;*/
  /*text-transform: uppercase;*/
  /*font-weight: 600;*/
  font-size: 18px;
}
#menu a:hover {
  background-color: rgb(250, 250, 250, 0.4);
}

#btn-mobile {
  position: relative;
  display: none;
}

@media (max-width: 650px) {
  .header {
    background: var(--overlay);
  }
  .sticky {
    background: var(--background_color_principal);
  }
  #btn-mobile {
    display: block;
    padding: 5px;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  #menu {
    padding: 1em;
    flex-direction: column;
    row-gap: 1em;
    align-items: start;
    background: var(--overlay);
    position: absolute;
    width: 100%;
    top: 80px;
    right: 0;
    height: 0px;
    overflow-y: hidden;
    visibility: hidden;
    z-index: 1000;
    transition: 0.6s;
  }
  #menu a:hover {
    background-color: transparent;
    color: var(--colorCeleste);
  }
  .active-menu-mobile #menu {
    height: 400px;
    right: 0px;
    visibility: visible;
    overflow-y: auto;
  }
  .sticky .active-menu-mobile #menu {
    background: var(--background_color_principal);
  }
}
