footer {
    color: white;
    width: 100%;
    background: var(--background_color_principal);
    height: 200px;
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
}
footer #logo{
    height: 100px;
    width: 150px;
}

footer ul {
    list-style: none;
}
footer a {
    color: white;
}
footer .ul-icons {
    padding-top: 0px;
    margin-top: 0;
}
footer .ul-icons li a i{
    font-size: 25px;
    color: white;
}
.menu-footer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.menu-footer a {
    text-decoration: none;
}
.menu-footer a:hover{
    text-decoration: underline;
}
.licencia {
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
}
@media (max-width: 750px) {
    footer {
        flex-direction: column;
    }
}



